<!--
<% text = tweet.text.gsub(/#*worldcup/i,"") %>
<% text = text.gsub(/#*wc2010/i,"") %>
<% text = text.gsub(/\brt\b/i,"") %>
<% text = text.gsub(/#*nga/i,"") %>
<% text = text.gsub(/#*gre/i,"") %>
<%= text.downcase %><br/>
-->
<p>
	<b><%= link_to h(tweet.screenname), 'http://twitter.com/' + h(tweet.screenname) %></b> <%=h tweet.text %><br/>
	<small><%= tweet.created_at.to_s %></small>
</p>