<p>
	<%= link_to "Switch to Fixed View", :controller => "game_view", :action => "show", :category => @category.category %>
</p>

<div class="row">
	<div class="col-md-12" id="graph"></div>
</div>

<div class="row">
	<div class="col-md-offset-4 col-md-4 text-center" id="graphinfo">
	</div>
</div>

<div class="row">
	<div id="tweets"></div>
</div>

<script>
function showRealtimeGraph() {
	$("#graph svg g").empty();
	
	d3.csv("<%= url_for(:controller => 'game_view', :action => 'data', :category => @category.category) %>", function(error,data) {

		showGraph(error,data);
		
		svg.on("click", function(e) {
			var x0 = x.invert(d3.mouse(this)[0]),
		        i = bisectDate(data, x0, 1),
		        d0 = data[i - 1],
		        d1 = data[i],
		        d = x0 - d0.date > d1.date - x0 ? d1 : d0;
		     
			// $("#tweets").load('<%= url_for(:controller => 'game_view', :action => 'tweets_at_time', :category => @category.category) %>', 'time=' + encodeURIComponent(d.time.toString()))
		});
	});	
}

function startUpdatingGraph(){
	setInterval(showRealtimeGraph,60000);
	
	showRealtimeGraph();
}

$(startUpdatingGraph);
</script>
